@import "fonts";
@import "reset";

body {
    width: 1280px;
    margin: 50px auto;
    background-color: #E5E5E5;
}

.btn {
    cursor: pointer;
    width: 115px;
    height: 50px;
    padding: 16px 32px;
    border-radius: 15px;
    border: 0;
    background-color: #273895;
    color: #fff;
    font-family: 'gothampro';
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    &:hover {
        transition: all 0.2s;
        background-color: #202e7d;
    }
}
.card {
    background: linear-gradient(236.29deg, #FFFFFF 29.99%, #F4F9FF 79.17%);
    box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
    border-radius: 10px;
    padding: 32px;
}

.header {
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__company {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 200px;
    }
    &__name {
        margin-left: 20px;
        text-align: center;
        font-family: 'Roboto';
        font-size: 16px;
        line-height: 19px;
        color: #3B1D8F;
    }
    &__descr {
        width: 230px;
        margin-left: 60px;
        font-family: 'gothampro';
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: #303030;
    }
    &__number {
        font-family: 'gothampro';
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        text-align: right;
        color: #303030;
        text-decoration: none;
        &:hover {
            color: #273895;
        }
    }
    &__login {
        margin-left: 36px;
    }
}

.nav {
    width: 640px;
    display: flex;
    justify-content: space-between;
    &__link {
        font-family: 'gothampro';
        font-weight: 600;
        font-size: 16px;
        line-height: 15px;
        color: #000;
        text-decoration: none;
        &:hover {
            color: #273895;
        }
    }
}

.main {
    margin-bottom: 187px;
    display: flex;
    flex-direction: column;
    &__content {
        display: flex;
        flex-direction: row;
    }
    &__info {
        margin-top: 120px;
    }
    &__tagline {
        width: 730px;
        font-family: 'gothampro';
        font-weight: 700;
        font-size: 48px;
        line-height: 55px;
        color: #262626;
    }
    &__descr {
        margin-top: 16px;
        width: 545px;
        font-family: 'gothampro';
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #303030;
    }
    &__try {
        width: 270px;
        height: 56px;
        display: block;
        margin-top: 32px;
    }
    &__advantages {
        margin-left: 30px;
        position: relative;
        width: 100%;
    }
    &__income {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 145px;
        height: 145px;
        p {
            width: 70px;
            height: 70px;
            text-align: center;
            font-family: 'gothampro';
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            color: #303030;
            span:first-child {
                font-size: 16px;
            }
            span:last-child {
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
            }
        }
    }
    &__circle {
        background-color: #E5E5E5;
        border-radius: 100%;
        position: absolute;
        z-index: -1;
    }
    &__process {
        top: 0;
        margin-top: 55px;
        position: absolute;
        z-index: -2;
    }
}
.capabilities {
    margin-left: auto;
    width: 712px;
    height: 164px;
    display: flex;
    flex-direction: row;
    &__item {
        margin-left: 32px;
        &:first-child {
            margin-left: 0;
        }
    }
    &__img {
        width: 42px;
        height: 42px;
    }
    &__info {
        font-family: 'gothampro';
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #303030;
    }
}
.about {
    position: relative;
    width: 1060px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__info {
        width: 400px;
        margin-top: 32px;
    }
    &__logo {
        margin-bottom: 32px;
    }
    &__title {
        margin-bottom: 16px;
        font-family: 'gothampro';
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        color: #303030;
    }
    &__subtitle {
        font-family: 'gothampro';
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #404040;
    }
    &__features {
        width: 435px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    &__feature {
        margin-bottom: 17px;
        margin-left: 25px;
        &:nth-child(odd) {
            margin-left: 0;
        }
        &:nth-child(2) {
            margin-top: 22px;
        }
        &:nth-child(3) {
            margin-bottom: 0;
            margin-left: 38px;
        }
        &:nth-child(4) {
            margin-bottom: 0;
        }
        &_big {
            width: 217px;
            height: 156px;
        }
        &_small {
            width: 179px;
            height: 135px;
            padding: 24px;
        }
        &_square {
            width: 192px;
            height: 171px;
        }
    }
    &__numbers {
        margin-bottom: 10px;
        font-family: 'gothampro';
        font-weight: 700;
        font-size: 48px;
        line-height: 44px;
        color: transparent;
        background: linear-gradient(180deg, #4614E8 0%, #BCA7FF 100%), #7247FF;
        -webkit-background-clip: text;
        background-clip: text;
        span {
            font-size: 16px;
            line-height: 24px;
        }
    }
    &__text {
        font-family: 'gothampro';
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #404040;
    }
    &__sirius {
        font-family: 'ArtegraSans';
        font-weight: 800;
        font-size: 16px;
        line-height: 44px;
        letter-spacing: 0.17em;
        text-transform: uppercase;
        background: linear-gradient(180deg, #4614E8 0%, #BCA7FF 100%), #7247FF;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    &__circle {
        position: absolute;
        background: linear-gradient(90deg, #E1D8FF 21.57%, #F4ECFF 100%);
        border-radius: 100%;
        &_big {
            width: 160px;
            height: 160px;
            z-index: -1;
            right: -110px;
            top: -50px
        }
        &_medium {
            width: 40px;
            height: 40px;
            z-index: -1;
            top: 45%;
            right: 35%;
        }
        &_small {
            width: 25px;
            height: 25px;
            z-index: -1;
            top: 65%;
            right: 17%;
        }
    }
}
.support {
    margin: 0 auto;
    margin-bottom: 144px;
    width: 1060px;
    display: flex;
    flex-direction: column;
    &__title {
        margin-bottom: 31px;
        text-align: center;
        font-family: 'gothampro';
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #303030;
    }
    &__items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__item {
        width: 344px;
        height: 344px;
        display: flex;
        flex-direction: column;
        box-shadow: none;
        background: #fff;
    }
    &__img {
        margin: 0 auto;
    }
    &__category {
        margin: 16px 0;
        font-family: 'gothampro';
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #303030;
    }
    &__descr {
        font-family: 'gothampro';
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #404040;
    }
}
.sirius {
    display: flex;
    flex-direction: column;
    width: 1260px;
    margin-bottom: 144px;
    &__header {
        margin-bottom: 20px;
        text-align: center;
        font-family: 'gothampro';
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
    }
    &__content {
        position: relative;
        width: 1100px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__smartphone {
        position: absolute;
        z-index: -2;
        margin-top: 15px;
    }
    .question-box {
        width: 187px;
        height: 105px;
        margin-left: 78px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 19px;
        box-shadow: 0px 13.5277px 39.7872px rgba(187, 166, 255, 0.78);
        &__text {
            margin-bottom: 7px;
            text-align: center;
            font-family: 'gothampro';
            font-weight: 700;
            font-size: 12px;
            line-height: 16px;
            color: #000;
        }
        &__btn {
            width: 148px;
            height: 46px;
            padding: 16px 22px;
            background: linear-gradient(326.06deg, #784DFF 11.53%, #4614E8 74.32%);
            font-size: 12px;
            line-height: 14px;
            font-weight: 400;
            &:hover {
                transition: all 0.2s;
                box-shadow: 0 0 10px rgba(187, 166, 255, 0.78);
                background: linear-gradient(326.06deg, #7049f2 11.53%, #3c10cd 74.32%);
            }
        }
    }
    &__about {
        display: flex;
        flex-direction: column;
        margin-top: 31px;
        margin-left: 29px;
        margin-bottom: 60px;
    }
    &__title {
        text-align: left;
        font-family: 'gothampro';
        font-weight: 700;
        font-size: 16px;
        line-height: 44px;
        letter-spacing: 0.17em;
        color: #34449C;
        text-transform: uppercase;
    }
    &__descr {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__textbox {
        width: 438px;
    }
    &__text {
        margin-bottom: 24px;
        font-family: 'gothampro';
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #404040;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__features {
        margin-left: 70px;
    }
    &__feature {
        list-style-image: url('../img/arrow.svg');
    }
    .cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &__item {
            width: 236px;
            height: 342px;
        }
        &__title {
            margin: 16px 0;
            font-family: 'gothampro';
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #404040;
        }
        &__descr {
            font-family: 'gothampro';
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: #404040;
        }
    }
}