@import "fonts";
@import "reset";


body {
    margin: 0 auto;
    background-color: #F4F7FA;
    font-family: 'gothampro';
}

.btn {
    cursor: pointer;
    width: 115px;
    height: 50px;
    padding: 16px 32px;
    border-radius: 15px;
    border: 0;
    background-color: #273895;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    &:hover {
        transition: all 0.2s;
        background-color: #202e7d;
    }
}

.card {
    background: linear-gradient(236.29deg, #FFFFFF 29.99%, #F4F9FF 79.17%);
    box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
    border-radius: 10px;
    padding: 32px;
    &__title {
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 16px;
        color: #404040;
    }
    &__descr {
        margin-bottom: 16px;
        color: #404040;
        &:last-child {
            margin-bottom: 0;
        }
        &_light {
            color: #B7B6B6;
        }
        strong {
            font-weight: 600;
        }
        ul {
            list-style-type: disc;
            list-style-position: inside;
        }
    }
    &__textbox {
        margin-left: 32px;
    }
    &__quote {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #303030;
    }
}

.title {
    margin-bottom: 16px;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #303030;
    &_white {
        color: #fff;
    }
    &_left {
        text-align: left;
    }
}

.subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.header {
    max-width: 1280px;
    margin: 50px auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 48px;
    @media (max-width: 1300px) {
        padding: 0 20px;
    }
    @media (max-width: 768px) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        gap: 16px;
    }
    @media (max-width: 480px) {
        margin-top: 22px;
    }
    &__main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 768px) {
            flex: 0 1 80%;
        }
    }
    &__company {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 200px;
        @media (max-width: 768px) {
            max-width: 90px;
            .logo img {
                height: 50px;
            }
        }
        @media (max-width: 320px) {
            .logo img {
                height: 30px;
            }
        }
    }
    &__name {
        margin-left: 20px;
        text-align: center;
        font-family: 'Roboto';
        font-size: 16px;
        line-height: 19px;
        color: #3B1D8F;
        @media (max-width: 991px) {
            margin-left: 12px;
        }
        @media (max-width: 768px) {
            font-size: 14px;
            line-height: 130%;
        }
        @media (max-width: 320px) {
            font-size: 7.24px;
        }
    }
    &__descr {
        max-width: 230px;
        margin-left: 60px;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: #303030;
        @media (max-width: 991px) {
            display: none;
        }
    }
    &__number {
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        text-align: right;
        color: #303030;
        text-decoration: none;
        @media (max-width: 768px) {
            display: none;
        }
        &:hover {
            color: #273895;
        }
    }
    &__login {
        margin-left: 36px;
        @media (max-width: 1300px) {
            margin-left: 25px;
        }
        @media (max-width: 768px) {
            width: 150px;
        }
        @media (max-width: 480px) {
            width: 50px;
            height: 50px;
            padding: 0;
            font-size: 0;
            position: relative;
            border-radius: 7px;
            background: linear-gradient(326.06deg, #2641D1 11.53%, #3333A3 74.32%);
            &:after {
                width: 13px;
                height: 22px;
                content: url('../img/btn-smartphone.svg');
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

.menu {
    max-width: 1280px;
    &__list {
        display: flex;
        justify-content: start;
        gap: 48px;
        @media (max-width: 1300px) {
            justify-content: center;
        }
    }
    &__link {
        font-weight: 600;
        font-size: 16px;
        line-height: 15px;
        color: #000;
        text-decoration: none;
        &:hover {
            color: #273895;
        }
    }
}

.main {
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 187px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    @media (max-width: 1300px) {
        margin-top: 120px;
    }
    @media (max-width: 480px) {
        margin-top: 48px;
        margin-bottom: 72px;
    }
    &__content {
        display: flex;
        flex-direction: row;
        @media (max-width: 991px) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__info {
        margin-top: 120px;
        @media (max-width: 1300px) {
            margin-top: 0;
        }
    }
    &__tagline {
        width: 730px;
        font-weight: 700;
        font-size: 48px;
        line-height: 55px;
        color: #262626;
        @media (max-width: 991px) {
            font-size: 36px;
            line-height: 130%;
            text-align: center;
            width: 100%;
        }
        @media (max-width: 768px) {
            font-size: 32px;
        }
        @media (max-width: 480px) {
            font-size: 24px;
        }
    }
    &__descr {
        margin-top: 16px;
        max-width: 545px;
        color: #303030;
        @media (max-width: 991px) {
            text-align: center;
            margin: 16px auto 0 auto;
        }
        @media (max-width: 480px) {
            font-size: 12px;
        }
    }
    &__try {
        width: 270px;
        height: 56px;
        display: block;
        margin-top: 32px;
        @media (max-width: 991px) {
            margin: 32px auto 0 auto;
        }
        @media (max-width: 480px) {
            width: 196px;
            height: 50px;
            margin-top: 16px;
            font-size: 12px;
            padding: 13px 0;
            font-weight: 500;
        }
    }
    &__advantages {
        margin-left: 30px;
        position: relative;
        width: 100%;
        @media (max-width: 1300px) {
            margin-left: 0;
        }
    }
    &__income {
        margin: 0 auto;
        margin-top: -30px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 145px;
        height: 145px;
        @media (max-width: 991px) {
            margin-top: 32px;
        }
        @media (max-width: 480px) {
            width: 122px;
            height: 122px;
            margin-top: 16px;
        }
        p {
            width: 70px;
            height: 70px;
            text-align: center;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            color: #303030;
            @media (max-width: 480px) {
                font-size: 12px;
                display: flex;
                flex-direction: column;
            }
            span:first-child {
                font-size: 16px;
                @media (max-width: 480px) {
                    font-size: 12px;
                }
            }
            span:last-child {
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                @media (max-width: 480px) {
                    font-size: 10px;
                }
            }
        }
    }
    &__circle {
        background-color: #F4F7FA;
        border-radius: 100%;
        position: absolute;
        z-index: -1;
        @media (max-width: 480px) {
            width: 122px;
            height: 122px;
        }
    }
    &__process {
        top: 55px;
        position: absolute;
        z-index: -2;
        @media (max-width: 1300px) {
            right: 0;
            height: 120%;
        }
        @media (max-width: 991px) {
            left: 50%;
            top: 0;
            transform: translate(-50%, -50%);
            height: 640px;
            opacity: 0.5;
        }
        @media (max-width: 768px) {
            width: 100%;
        }
    }
}

.capabilities {
    margin-left: auto;
    max-width: 712px;
    height: 164px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    @media (max-width: 1300px) {
        margin: 32px auto 0 0;
    }
    @media (max-width: 991px) {
        margin-left: auto;
    }
    @media (max-width: 768px) {
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    @media (max-width: 480px) {
        margin-top: 16px;
    }
    &__item {
        @media (max-width: 991px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    &__img {
        width: 42px;
        height: 42px;
    }
    &__info {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #303030;
        @media (max-width: 991px) {
            text-align: center;
            font-size: 14px;
        }
    }
}

.about {
    position: relative;
    width: 1060px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__info {
        width: 400px;
        margin-top: 32px;
    }
    &__logo {
        margin-bottom: 32px;
    }
    &__subtitle {
        color: #404040;
    }
    &__features {
        width: 435px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 17px 25px;
    }
    &__feature {
        &:nth-child(2) {
            margin-top: 22px;
        }
        &:nth-child(3) {
            margin-left: 38px;
        }
        &_big {
            width: 217px;
            height: 156px;
        }
        &_small {
            width: 179px;
            height: 135px;
            padding: 24px;
        }
        &_square {
            width: 192px;
            height: 171px;
        }
    }
    &__numbers {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 48px;
        line-height: 44px;
        color: transparent;
        background: linear-gradient(180deg, #4614E8 0%, #BCA7FF 100%), #7247FF;
        -webkit-background-clip: text;
        background-clip: text;
        span {
            font-size: 16px;
            line-height: 24px;
        }
    }
    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #404040;
    }
    &__sirius {
        font-family: 'ArtegraSans';
        font-weight: 800;
        font-size: 16px;
        line-height: 44px;
        letter-spacing: 0.17em;
        text-transform: uppercase;
        background: linear-gradient(180deg, #4614E8 0%, #BCA7FF 100%), #7247FF;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    &__circle {
        position: absolute;
        background: linear-gradient(90deg, #E1D8FF 21.57%, #F4ECFF 100%);
        border-radius: 100%;
        &_big {
            width: 160px;
            height: 160px;
            z-index: -1;
            right: -110px;
            top: -50px
        }
        &_medium {
            width: 40px;
            height: 40px;
            z-index: -1;
            top: 45%;
            right: 35%;
        }
        &_small {
            width: 25px;
            height: 25px;
            z-index: -1;
            top: 65%;
            right: 17%;
        }
    }
}

.support {
    margin: 0 auto;
    margin-bottom: 144px;
    width: 1060px;
    display: flex;
    flex-direction: column;
    &__title {
        margin-bottom: 31px;
        text-align: center;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #303030;
    }
    &__items {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }
    &__item {
        width: 344px;
        height: 344px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        box-shadow: none;
        background: #fff;
    }
    &__img {
        margin: 0 auto;
    }
    &__category {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #303030;
    }
    &__descr {
        color: #404040;
    }
}

.sirius {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 1260px;
    margin-bottom: 144px;
    &__content {
        position: relative;
        width: 1100px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__smartphone {
        position: absolute;
        z-index: -2;
        margin-top: 15px;
    }
    .question-box {
        width: 187px;
        height: 105px;
        margin-left: 78px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 19px;
        box-shadow: 0px 13.5277px 39.7872px rgba(187, 166, 255, 0.78);
        &__text {
            margin-bottom: 7px;
            text-align: center;
            font-weight: 700;
            font-size: 12px;
            line-height: 16px;
            color: #000;
        }
        &__btn {
            width: 148px;
            height: 46px;
            padding: 16px 22px;
            background: linear-gradient(326.06deg, #784DFF 11.53%, #4614E8 74.32%);
            font-size: 12px;
            line-height: 14px;
            font-weight: 400;
            &:hover {
                transition: all 0.2s;
                box-shadow: 0 0 10px rgba(187, 166, 255, 0.78);
                background: linear-gradient(326.06deg, #7049f2 11.53%, #3c10cd 74.32%);
            }
        }
    }
    &__about {
        display: flex;
        flex-direction: column;
        margin-top: 31px;
        margin-left: 29px;
        margin-bottom: 60px;
    }
    &__title {
        text-align: left;
        font-weight: 700;
        font-size: 16px;
        line-height: 44px;
        letter-spacing: 0.17em;
        color: #34449C;
        text-transform: uppercase;
    }
    &__descr {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__textbox {
        width: 438px;
    }
    &__text {
        margin-bottom: 24px;
        color: #404040;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__features {
        margin-left: 70px;
    }
    &__feature {
        list-style-image: url('../img/arrow.svg');
    }
    .cards {
        display: flex;
        flex-direction: row;
        gap: 19px;
        &__item {
            width: 236px;
            height: 342px;
            box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
        }
        &__title {
            margin: 16px 0;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #404040;
        }
        &__descr {
            color: #404040;
        }
    }
}

.tariffs {
    width: 1062px;
    margin: 0 auto;
    margin-bottom: 144px;
    display: flex;
    flex-direction: column;
    &__subtitle {
        margin-bottom: 32px;
        text-align: center;
        color: #404040;
    }
    &__choice {
        margin: 0 auto;
        margin-bottom: 32px;
    }
    &__option {
        cursor: pointer;
        margin-right: 64px;
        border: none;
        border-bottom: 1px dashed #273895;
        background-color: transparent;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #273895;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            transition: 0.2s all;
            color: #1e2a71;
            text-shadow: 0px 1px 4px #3348c383;
        }
        &_active {
            width: 133px;
            height: 50px;
            padding: 10px 28px;
            border-radius: 15px;
            border: none;
            background-color: #273895;
            color: #fff;
            text-align: center;
            &:hover {
                transition: all 0.2s;
                background-color: #202e7d;
                color: #fff;
            }
        }
    }
    &__cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .tariff {
        margin-bottom: 32px;
        padding: 48px;
        width: 513px;
        height: 647px;
        background-color: #fff;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        &:nth-child(even) {
            margin-right: 32px;
        }
        &:nth-last-child(-n+2) {
            margin-bottom: 0;
        }
        &__start {
            width: 1062px;
            height: 495px;
            align-items: center;
        }
        &__name {
            font-weight: 700;
            font-size: 16px;
            line-height: 30px;
            text-align: center;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            color: #2741D0;
        }
        &__free {
            font-weight: 500;
            font-size: 32px;
            line-height: 44px;
            text-align: center;
            color: #C9C9C9;
        }
        &__cost {
            font-weight: 700;
            font-size: 16px;
            line-height: 30px;
            color: #404040;
        }
        &__for {
            line-height: 30px;
            text-align: center;
            color: #737373;
        }
        &__descr {
            font-weight: 500;
            font-size: 16px;
            line-height: 30px;
            text-align: center;
            color: #404040;
        }
        &__options {
            display: flex;
            flex-direction: column;
            &_start {
                div {
                    display: flex;
                    flex-direction: row;
                    .tariff__option {
                        width: 306px;
                        margin-right: 24px;
                        &:nth-child(even) {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
        &__option {
            margin-bottom: 16px;
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #404040;
            &::before {
                content: '';
                width: 0;
                height: 0;
                border-bottom: 7px solid #2741D0; 
                border-left: 7px solid transparent;
                margin-right: 8px;
            }
        }
        &__details {
            font-weight: 500;
            font-size: 16px;
            line-height: 40px;
            color: #2741D0;
            text-decoration: none;
            &::after {
                margin-left: 16px;
                content: url('../img/right-arrow.svg');
                width: 15px;
                height: 16px;
            }
        }
        &__request {
            width: 220px;
            height: 56px;
        }
    }
}

.partner {
    margin-bottom: 144px;
    .banner {
        width: 100%;
        height: 400px;
        background: #273895 no-repeat url('../img/partners.jpg') right;
        padding: 88px 0 205px 196px;
        margin-bottom: 76px;
        position: relative;
        &__img {
            position: absolute;
            z-index: 0;
            bottom: 0;
        }
        &__subheader {
            width: 307px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #e9e9e9;
            margin-top: 16px;
        }
    }
    &__cards {
        width: 1062px;
        margin: 0 auto;
    }
    &__card {
        height: 229px;
        margin-bottom: 16px;
        padding: 48px 187px 48px 110px;
        background: #fff;
        display: flex;
        flex-direction: row;
        &:last-child {
            margin-bottom: 32px;
        }
        &_big {
            height: 249px;
        }
        &_huge {
            height: 299px;
        }
    }
    &__btn {
        width: 250px;
        height: 56px;
        margin: 0 auto;
        display: block;
    }
}

.start {
    margin-bottom: 144px;
    &__cards {
        margin-top: 48px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 16px;
        background: url('../img/line.svg') center center no-repeat;
    }
    &__cardbox {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__card {
        &_small {
            width: 296px;
            height: 243px;
        }
        &_big {
            padding: 73px 40px 57px 40px;
            width: 312px;
            height: 505px;
        }
        &_medium {
            width: 312px;
            height: 366px;
            padding: 40px;
        }
    }
    &__number {
        width: 40px;
        height: 40px;
        margin-bottom: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 14px;
        color: #404040;
        border: 3px solid #404040;
        border-radius: 100%;
    }
    &__img {
        margin-bottom: 16px;
    }
    &__btn {
        width: 232px;
        height: 56px;
        padding: 16px 26px;
        font-weight: 500;
    }
}

.prediction {
    width: 100%;
    height: 287px;
    margin-bottom: 144px;
    padding: 96px 80px;
    background-color: #273895;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__title {
        width: 406px;
    }
    &__container {
        display: flex;
        flex-direction: row;
    }
    &__item {
        width: 125px;
        margin-right: 32px;
        text-align: center;
        &:nth-child(2) {
            width: 202px;
            margin-right: 16px;
        }
        &:nth-child(3) {
            width: 168px;
            margin-right: 18px;
        }
        &:last-child {
            width: 170px;
            margin-right: 0;
        }
    }
    &__number {
        font-weight: 600;
        font-size: 32px;
        margin-bottom: 16px;
        color: transparent;
        background: linear-gradient(93.03deg, #4614E8 11.01%, #BCA7FF 78.81%), #FFFFFF;
        -webkit-background-clip: text;
        background-clip: text;
    }
    &__descr {
        color: #fff;
    }
}

.director {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 171px;
    &__img {
        position: relative;
        width: 419px;
        height: 584px;
        border-radius: 20px;
        background: url('../img/director.jpg') no-repeat;
        background-color: #E5E5E5;
    }
    &__card {
        position: absolute;
        width: 360px;
        height: 125px;
        bottom: -27px;
        left: 187px;
        box-shadow: 0px 13.5277px 39.7872px rgba(187, 166, 255, 0.2);
        div {
            font-weight: 500;
            font-size: 32px;
            line-height: 16px;
            color: #303030;
        }
    }
    &__container {
        width: 470px;
        margin-top: 58px;
        margin-left: 96px;
    }
    &__job {
        color: #404040;
    }
    &__name {
        margin-bottom: 16px;
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        color: #303030;
    }
    &__experience {
        margin-bottom: 32px;
        font-weight: 500;
        color: #404040;
    }
    &__descr {
        margin-bottom: 16px;
        color: #404040;
        ul {
            list-style: disc;
            list-style-position: inside;
        }
    }
    &__more {
        margin-bottom: 32px;
        color: #404040;
    }
    &__btn {
        width: 251px;
        height: 56px;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #DEE6EF;
    &__main {
        padding: 32px 110px 32px 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__about {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__company {
        display: inline-block;
        width: 88px;
        margin-left: 40px;
        text-decoration: none;
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #3B1D8F;
    }
    &__descr {
        width: 227px;
        margin-left: 48px;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
    }
    &__social {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__link {
        width: 36px;
        height: 36px;
        margin-left: 8px;
        padding: 9px;
        border: 1px solid #CFDAE7;
        border-radius: 10px;
        &:first-child {
            margin-left: 0;
        }
    }
    .copyright {
        padding: 16px 110px 16px 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #E8EDF3;
        &__name {
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            color: #7a7a7a;
        }
        &__link {
            margin-left: 16px;
            font-weight: 400;
            font-size: 10px;
            line-height: 20px;
            color: #7a7a7a;
            text-decoration: none;
            &:first-child {
                margin-left: 0;
            }
        }
    }
}

@import "burger";